.journal-container {
  display: flex;
  gap: 16px;
}

.journal-entries {
  display: grid;
  gap: 2.6rem;
  flex: 1;
  align-items: flex-start;
}

.journal-entry {
  padding: 2rem;
  background-color: #f8f8f9;
  border-radius: 3px;
  box-shadow: 2px 7px 6px -5px rgba(0, 0, 0, 0.1);
  min-width: 0;
}

.entry-detail {
  margin-bottom: 1.5rem;
}

.entry-footer {
  display: flex;
  justify-content: space-between;
}

.entry-title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.entry-content-trimmed {
  white-space: nowrap;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  margin-bottom: 8px;
}

.search-bar input {
  padding: 6px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
}

.journal-filters {
  width: 200px;
}

.journal-filters .filter {
  font-size: 14px;
}

.journal-filters .filter label {
  display: flex;
  align-items: center;
}

.journal-filters .filter [type="checkbox"] {
  margin-right: 6px;
}
.moods-filter h6 {
  margin-bottom: 5px;
}
