.form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.ql-editor {
  min-height: 120px;
  font-size: 16px;
}

.form-action-buttons {
  display: flex;
  gap: 2rem;
}
