.form-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.content-editor {
  position: relative;
  margin-bottom: 2rem;
}

.ql-editor {
  min-height: 120px;
  font-size: 16px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d7d4d4;
}

.audio-text-container {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

button.audio-btn {
  background-color: ghostwhite;
  color: var(--heading-color);
  font-size: 1.4rem;
  border: none;
}

button.audio-btn.stop-recording {
  color: #cb0000;
}

.audio-text-container button svg {
  margin-right: 0.75rem;
}

.transcribing-indicator {
  font-size: 14px;
  font-style: italic;
  margin-left: 1rem;
}

.form-action-buttons {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-input-wrapper .date-label {
  margin-right: 4px;
}

.date-input-wrapper input {
  background-color: transparent;
  border: 1px solid #ccc;
  text-align: right;
}

.error-panel {
  background-color: #fde3e6;
  border: 1px solid #f5c6cb;
  color: #8a202a;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 4px;
}
