#new-entry {
  background-color: #313232;
  color: #f9f7f5;
  display: inline-block;
  font-weight: 600;
  border-radius: 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#new-entry a {
  display: block;
  padding: 16px;
}

button.btn {
  background-color: var(--main-button-bg-color);
  color: var(--main-light-color);
  padding: 1rem 2rem;
  font-weight: 500;
  transition: all 0.2s ease-out;
}

button.btn:hover {
  opacity: 0.75;
}

button.btn:disabled {
  cursor: default;
  opacity: 0.4;
}

button.btn.btn--secondary {
  background-color: var(--secondary-button-bg-color);
  color: var(--main-dark-color);
}
