@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-dark-color: #2b4767;
  --main-light-color: #f9f7f5;
  --heading-color: #001167;
  --main-button-bg-color: #1c57aa;
  --secondary-button-bg-color: #eceaed;
  --accent-color-1: #b2cff7;
  --accent-color-2: #b2fcd5;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: #2b4767;
  font-size: 1.6rem;

  background-image: linear-gradient(
    to left top,
    #fbf9f6,
    #fbf2ee,
    #fbebeb,
    #f6e4ed,
    #eae0f2,
    #e4e0f3,
    #dfe0f3,
    #d9e0f2,
    #e0e2f1,
    #e6e4ef,
    #eae7ee,
    #eceaed
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  color: var(--heading-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 3.2rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2.8rem;
  margin: 2rem 0;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #b360cf;
}
